body, html {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
  }
  
  .main {
    display: flex;
    width: 100%;
    height: 100vh;
  }
  
  .left {
    width: 50%;
  }
  
  .right {
    width: 50%;
    height: 100%;
    overflow-y: hidden; /* Added to prevent vertical scrolling */
    position: relative;
    border-radius: 8px 8px 8px 10px;

}
.right>img{
  height: 96%;
  
}
.right::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 96%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
    border-radius: 8px 8px 8px 10px;
}
  
  
  .logo {
    display: flex;
    align-items: center;
    margin: 1rem 0 0 5.5rem;
    font-family: cookie;
  }
  
  .fa-wave-pulse {
    color: black;
    font-size: 100px;
  }
  
  h1 {
    margin: 0 0 0 10px;
    
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .col{
    display: flex;
    flex-direction: column;
    font-family: lato;
  }
  input{
    padding: 10px;
    width: 350px;
    border-radius: 5px ;
    border-color: rgb(222, 222, 222);
    outline-color: rgb(211, 211, 211);
    outline: none;
  }
  button{
    width: 375px;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(12, 12, 78);
    padding: 10px;
    color: white;
    margin: 25px 0 0 0;
    
  }
  
  ::placeholder{
    color: rgb(184, 184, 184);
  }
  
  
  .spacing{
    margin: 1.5rem 0 0 0;
  }
  .form>h1{
    margin: 2.5rem 0 0 0;
    font-family: lato;
  }
  .form>small{
    margin: 1.5rem 0 0 0;
    font-family: lato;
    text-align: center;
    color: rgb(159, 159, 159);
  }



.password-container {
  position: relative;
}

.password-container i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


.right-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px; 
  color: white; 
  max-width: 80%; 
  box-sizing: border-box;
  z-index: 2;
  font-family: lato;
  margin: 0 0 3.5rem 0;
  font-size: 20px;
}

.right-text p {
  margin: 0 0 10px 0;
}
.faded{
  color: rgb(217, 217, 217);
}
.bold{
  font-weight: bold;
}
.mag-r{
    margin: 5px 0 0 15.5rem;
    font-weight: bold;
    font-family: lato;
}
.mag-r>a{
    text-decoration: none;
    color: black;
}
.mag-c{
    margin: 1rem 0 0 6rem;
}
.mag-c>a{
    font-weight: bold;
    font-family: lato;
    text-decoration: none;
    color: black;

}